<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
        <style>
            h1, p {
                color: white;
            }
            body {
                background-color: #294681;
            }
        </style>
    </head>
    <body>
        <h1>Form</h1>
        <form action="/next" method="post">
            <p>
            Enter your first name: <input type="text" name="fn">
            </br></br>
            Enter your last name: <input type="text" name="ln">
            </br></br>
            Enter your age: <input type="text" name="age">
            </br></br>
            What's your favorite color? </br>
            <input type="radio" name="favColor" value="Red" />Red<br/>
            <input type="radio" name="favColor" value="Orange" />Orange<br/>
            <input type="radio" name="favColor" value="Yellow" />Yellow<br/>
            <input type="radio" name="favColor" value="Green" />Green<br/>
            <input type="radio" name="favColor" value="Blue" />Blue<br/>
            <input type="radio" name="favColor" value="Violet" />Violet<br/>
            </br></br>
            <input type="submit">
            </p>
        </form>
    </body>
</html>