<!DOCTYPE html>
<html>
    <head>
        <title>The conjugation of the verb to yeet</title>
        <style>
            h1, p {
                color: #294681;
            }
            body {
                background-color: #bab6b6;
            }
            td {
                width:25%;
                border:thin solid #3D3D3D;
                color: #3D3D3D;
            }
            tr {
                color: #3D3D3D;
            }
        </style>
    </head>
    <body>
        <h1>Conjuating Yeet</h1>
        <table style="width:50%">
            <tr>
                <td style='border:none'>
                    Present Tense
                </td>
            </tr>
            <tr>
                <td>
                    I
                </td>
                <td>
                    yeet
                </td>
            </tr>
            <tr>
                <td>
                    you
                </td>
                <td>
                    yeet
                </td>
            </tr>
            <tr>
                <td>
                    he/she
                </td>
                <td>
                    yeets
                </td>
            </tr>
            <tr>
                <td>
                    they
                </td>
                <td>
                    yeet
                </td>
            </tr>
            <tr>
                <td>
                    we
                </td>
                <td>
                    yeet
                </td>
            </tr>
    </body>
</html>