<!--this page is done-->

{% extends "layout.html" %}

{% block body %}

<h2>Edit the {{name}} Merit Badge in the Database</h2>

<form action="/checkedit" method="post" name="name" value="{{name}}">
    Edit the {{name}} Merit Badges</br>
    </br></br>
    Have you started this badge? </br>
    <select name="started" value="{{oldstarted}}">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    </br></br>
    If so when did you start this badge? </br>
    <input type="date" name="startdate" value="{{oldstartdate}}">
    </br></br>
    Have you finished this badge? </br>
    <select name="completed" value="{{oldcompleted}}">
        <option value="True">Yes</option>
        <option value="False">No</option>
    </select>
    </br></br>
    If so when did you finish this badge? </br>
    <input type="date" name="completiondate" value="{{oldcompletiondate}}">
    </br></br>
    Who was your counselor or where did you do this badge? </br>
    <input type="text" name="counselor" value="{{oldcounselor}}">
    </br></br>
    How many requirements have you completed? </br>
    <input type="number" name="completereqs" value="{{oldcompeletereqs}}">
    </br></br>
    </br></br>
    <input type="reset" class="formbutton"></br>
    </br>
    <input type="submit" class="formbutton"></br>
</form>

</br></br>

<img src = "/static/photos/mb.png" alt = "Pile of Merit Badges"></br>

<!--back button-->
<form action="/display" method="post">
    <button type="submit" class="button">Back</button></br>
</form>

{% endblock %}