<!DOCTYPE html>
<html>
    <head>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="container color center" style="width:100%">
            <h1>Merit Badge Database</h1>
        </header>
            <div class="content margin-top" style="max-width:1400px;">

                {% block body %}
                {% endblock %}
            </div>

        <footer class="container color center margin-top" style="width:100%">
          <p>Made by Paola Frunzio</p>
        </footer>
    </body>
</html>